.boton-menu-desplegable{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: none;
    border-top: rgba(0, 0, 255, 0.178) 1px solid;
    border-bottom: rgba(0, 0, 255, 0.178) 1px solid;
    border-radius: 5px;
    margin-top: 2px;
    background: rgba(173, 216, 230, 0.445);
}

.boton-menu-desplegable .texto{
    width: max-content;
    height: max-content;
    font-size: x-large;
}

.boton-menu-desplegable:hover{
    
    border-left: blue 3px solid;
    border-right: blue 3px solid;
}